.container2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: no-repeat center/cover url(../../Static/pastel.png);
  opacity: 0.5;
  color: rgb(50, 50, 50);
}

.chMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 2vw;
}

.messageTitle {
  font-size: 3vw;
}