body {
	margin: 0;
}
.login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin: 0;
}

.login-sidebar-content {
	width: 35%;
	height: 100vh;
	background-size: 100% 100%;
	background-image: url(https://images.unsplash.com/photo-1561577762-a50bcb6417d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
}

.login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	height: 100vh;
	/* background-color: blue; */
}

.login-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	max-width: 420px;
	height: 70%;
	max-height: 800px;
	margin: auto;
	/* background-color: green; */
}

.social-login-group {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 6rem;
	/* height: 20rem; */
	/* border: 1px solid black; */
	border-radius: 5px;
}

.divider {
	width: 100%;
}

.login-label {
	width: 90%;
	text-align: start;
	font-weight: bold;
	font-size: 1.1rem;
	color: black;
}

.login-content > fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 15%;
	/* background-color: yellow; */
}

/* fieldset */
.login-user-email,
.login-user-password {
	margin: 0;
	padding: 0;
	border: none;
}

/* input */
.login-input-email,
.login-input-password {
	width: 100%;
	height: 2.6rem;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 5px;
	background-color: rgb(239, 239, 239);
}

/* button */
.login-form-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border: none;
}

.login-form-btn > button {
	width: 46%;
	height: 2.6rem;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0;
	padding: 0;
}

.login-form-btn > button:nth-child(1) {
	background-color: rgb(119, 112, 255);
}

.login-form-btn > button:nth-child(2) {
	background-color: rgb(200, 112, 255);
}

/* #naverIdLogin {
	width: 240px;
	height: 50px;
	background-image: url("btnW_official.png");
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: rgba(0, 0, 0, 0.25);
}

#googleIdLogin {
	width: 240px;
	height: 50px;
	background-image: url("btn_google_signin_light_normal_web@2x.png");
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: rgba(0, 0, 0, 0.25);
} */

.login-naver-btn {
	width: 50%;
	height: 2.6rem;
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.9rem;
	padding-left: 24px;
	border: 1rem;
	border-color: black;
	border-radius: 5px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	background-image: url(logo-naver.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 14px center;
}

.login-google-btn {
	width: 50%;
	height: 2.6rem;
	color: rgba(0, 0, 0, 0.54);;
	font-size: 0.9rem;
	padding-left: 24px;
	border: 1rem;
	border-color: black;
	border-radius: 5px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	background-image: url(logo-google.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 12px center;
}

.social-login-group > button:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.social-login-group > button:active {
	background-color: #eeeeee;
}
.social-login-group > button:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
