.select-mode {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
	height: 10%;
	top: 10%;
	margin-bottom: 1rem;
}

.piano,
.mic,
.upload {
	width: 80px;
	background-color: white;
	border-radius: 50%;
}
