.main-page__upload {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	height: 100%;
}

@media screen and (max-width: 1670px) {
	.main-page__upload {
		position: absolute;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}
