.select-mode {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	z-index: 10;
	margin-top: 10vh;
}

.piano,
.mic,
.upload {
	width: 5vh;
	border-radius: 25%;
	cursor: pointer;
	transition-duration: 0.15s;
}

.piano:hover,
.mic:hover,
.upload:hover {
	transform: scale(1.1);
	transition-duration: 0.15s;
}

@media screen and (max-width: 1400px) {
	.select-mode {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 10%;
		margin-top: 3vh;
	}
	.piano,
	.mic,
	.upload {
		width: 5vh;
		border-radius: 25%;
		cursor: pointer;
		transition-duration: 0.15s;
		filter: invert(100%);
	}
}