.get-color-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.circle-right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	height: 80vh;
}

.option-left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 80vh;
}

.canvas {
	background-color: white;
	border-radius: 50%;
	border: solid rgba(#000, 0.2);
	transition: 0.5s;
	box-shadow: 0px 0px 70px rgb(255, 254, 214);
	cursor: pointer;
}

.canvas:hover {
	transform: scale(1.015);
	transition-duration: 0.5s;
}

.backLight {
	animation: circleSize 3s infinite;
	transform: scale(var(--circleSize));
	transition: all 0.3s ease-in-out;
}

@keyframes zoomIn {
	0% {
		box-shadow: 0px 0px 100px rgb(255, 254, 214);
		transform: scale(1);
	}
	50% {
		box-shadow: 0px 0px 100px rgb(255, 255, 255);
		transform: scale(1.03);
	}
	100% {
		box-shadow: 0px 0px 100px rgb(255, 252, 216);
		transform: scale(1);
	}
}

@keyframes circleSize {
	0% {
		box-shadow: 0px 0px 100px rgb(255, 254, 214);
	}
	50% {
		box-shadow: 0px 0px 100px rgb(255, 255, 255);
	}
	100% {
		box-shadow: 0px 0px 100px rgb(255, 254, 214);
	}
}

@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes textColor {
	0% {
		color: #7e0fff;
	}
	50% {
		color: #0fffc1;
	}
	100% {
		color: #7e0fff;
	}
}

@media screen and (max-width: 1670px) {
	.canvas {
		background-color: white;
		border-radius: 50%;
		border: solid rgba(#000, 0.2);
		width: 500px;
		height: 500px;
		transition: 0.5s;
		box-shadow: 0px 0px 70px rgb(255, 254, 214);
	}

	.circle-right {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50vh;
		margin-bottom: 25vh;
	}
}

@media screen and (max-width: 400px) {
	.canvas {
		background-color: white;
		border-radius: 50%;
		border: solid rgba(#000, 0.2);
		width: 300px;
		height: 300px;
		transition: 0.5s;
		box-shadow: 0px 0px 70px rgb(255, 254, 214);
	}

	.circle-right {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50vh;
	}
}
