.audio-btn {
	height: 30px;
	border: none;
	/* color: white; */
	font-size: 1.5rem;
}

.get-color-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: flex-end; */
	align-items: center;
	width: 100%;
}

.message {
	font-size: 1.2rem;
}

.create-bubble-btn {
	height: 3rem;
	padding: 0px 20px;
	margin: 0px 10px;
	font-size: 1.3rem;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: rgb(119, 112, 255);
	cursor: pointer;
}

.canvas {
	width: 400px;
	height: 400px;
	background-color: white;
	border-radius: 50%;
	border: solid rgba(#000, 0.2);
}

/* .backLight{
	box-shadow: ;
} */

.backLight {
	animation: zoomIn 3s infinite;
}

@keyframes zoomIn {
	0% {
		box-shadow: 0px 0px 100px rgb(255, 254, 214);
		transform: scale(1);
	}
	50% {
		box-shadow: 0px 0px 100px rgb(255, 255, 255);
		transform: scale(1.03);
	}
	100% {
		box-shadow: 0px 0px 100px rgb(255, 252, 216);
		transform: scale(1);
	}
}

@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes textColor {
	0% {
		color: #7e0fff;
	}
	50% {
		color: #0fffc1;
	}
	100% {
		color: #7e0fff;
	}
}

/* 
빨 0
주 30
노 60
초 90
파 240
보 270

C3(도) 130
D3(레) 146
E3(미) 165
F3(파) 175
G3(솔) 196
A3(라) 220
B3(시) 247

C4(도) 260

*/
