.upload-modal-background {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 150vh;
	background-color: rgba(2, 7, 21, 0.6);
	animation: fadeIn 0.5s;
}

.upload-modal-box {
	width: 40%;
	height: 60%;
	max-width: 600px;
	max-height: 700px;
	min-width: 600px;
	min-height: 700px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 2px 4px 8px rgba(2, 7, 21, 0.3);
	animation: scaleUp 0.5s;
	margin-bottom: 200px;
	margin-top: 10%;
	transition: 1s;
}

.upload-modal-top-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 3px 3px 0px 0px;
	width: 100%;
	height: 10%;
	background-color: rgb(2, 7, 21);
	box-shadow: 0px 3px 3px rgba(2, 7, 21, 0.4);
}

.upload-modal-btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}

.upload-modal-close-btn {
	color: white;
	font-size: 2rem;
	margin-right: 15px;
	cursor: pointer;
}

.upload-modal-image-content {
	width: 100%;
	height: 58%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
}

.bubble-textContent {
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
}

.upload-modal-option-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 25%;
	/* border-top: 1px solid black; */
	/* background-color: red; */
}

.upload-modal-image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: white;
	background-size: 300px 300px;
}

.create-message {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

/* bubble upload & download box */
.upload-btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3rem;
}

.bubble-upload-btn,
.bubble-download-btn {
	width: 12rem;
	height: 4rem;
	font-family: "Noto Sans KR", sans-serif;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background-color: #6d6b6b;
	font-size: 1.6rem;
	color: white;
	margin: 0px 10px;
}

.bubble-upload-btn:hover,
.bubble-download-btn:hover,
.social-share-btn-box:hover {
	transform: scale(1.03);
	-o-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	color: #fff;
	background-color: rgb(119, 112, 255);
}

.social-share-btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25.3rem;
	height: 4rem;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1.6rem;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background-color: #6d6b6b;
	color: white;
	margin: 3%;
}
/* icon */
.share_icon {
	height: 100%;
	font-size: 1.6rem;
	color: white;
	cursor: pointer;
}
.KAKAO_icon {
	width: 3rem;
}

@keyframes scaleUp {
	0% {
		/* 모달 콘텐츠를 하단에 위치시킴 */
		transform: scale(0.8) translateY(50px);
		opacity: 0;
	}
	100% {
		/* 모달 콘텐츠를 본래 위치로 돌려놓음 */
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		background: transparent;
	}
	100% {
		background: rgba(2, 7, 21, 0.6);
	}
}
@media screen and (max-width: 768px) {
	.upload-modal-background {
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 150vh;
		background-color: rgba(2, 7, 21, 0.6);
		animation: fadeIn 0.5s;
	}

	.upload-modal-box {
		width: 40%;
		height: 60%;
		max-width: 450px;
		max-height: 650px;
		min-width: 450px;
		min-height: 650px;
		border-radius: 3px;
		background-color: white;
		box-shadow: 2px 4px 8px rgba(2, 7, 21, 0.3);
		animation: scaleUp 0.5s;
		margin-bottom: 200px;
		margin-top: 40%;
		transition: 1s;
	}

	.upload-modal-top-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-radius: 3px 3px 0px 0px;
		width: 100%;
		height: 10%;
		background-color: rgb(2, 7, 21);
		box-shadow: 0px 3px 3px rgba(2, 7, 21, 0.4);
	}

	.upload-modal-btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	}

	.upload-modal-close-btn {
		color: white;
		font-size: 2rem;
		margin-right: 15px;
		cursor: pointer;
	}

	.upload-modal-image-content {
		width: 100%;
		height: 58%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: blue; */
	}

	.bubble-textContent {
		position: absolute;
		text-align: center;
		font-size: 1.5rem;
	}

	.upload-modal-option-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 25%;
		/* border-top: 1px solid black; */
		/* background-color: red; */
	}

	.upload-modal-image {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background-color: white;
		background-size: 300px 300px;
	}

	.create-message {
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
	}

	/* bubble upload & download box */
	.upload-btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 3rem;
	}

	.bubble-upload-btn,
	.bubble-download-btn {
		width: 12rem;
		height: 4rem;
		font-family: "Noto Sans KR", sans-serif;
		outline: none;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		background-color: #6d6b6b;
		font-size: 1.6rem;
		color: white;
		margin: 0px 10px;
	}

	.bubble-upload-btn:hover,
	.bubble-download-btn:hover,
	.social-share-btn-box:hover {
		transform: scale(1.03);
		-o-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		color: #fff;
		background-color: rgb(119, 112, 255);
	}

	.social-share-btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25.3rem;
		height: 4rem;
		font-family: "Noto Sans KR", sans-serif;
		font-size: 1.6rem;
		outline: none;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		background-color: #6d6b6b;
		color: white;
		margin: 3%;
	}
	/* icon */
	.share_icon {
		height: 100%;
		font-size: 1.6rem;
		color: white;
		cursor: pointer;
	}
	.KAKAO_icon {
		width: 3rem;
	}
}

@media screen and (max-width: 400px) {
	.upload-modal-background {
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 150vh;
		background-color: rgba(2, 7, 21, 0.6);
		animation: fadeIn 0.5s;
	}

	.upload-modal-box {
		width: 40%;
		height: 60%;
		max-width: 300px;
		max-height: 400px;
		min-width: 300px;
		min-height: 400px;
		border-radius: 3px;
		background-color: white;
		box-shadow: 2px 4px 8px rgba(2, 7, 21, 0.3);
		animation: scaleUp 0.5s;
		margin-bottom: 200px;
	}

	.upload-modal-top-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-radius: 3px 3px 0px 0px;
		width: 100%;
		height: 10%;
		background-color: rgb(2, 7, 21);
		box-shadow: 0px 3px 3px rgba(2, 7, 21, 0.4);
	}

	.upload-modal-btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	}

	.upload-modal-close-btn {
		color: white;
		font-size: 2rem;
		margin-right: 15px;
		cursor: pointer;
	}

	.upload-modal-image-content {
		width: 100%;
		height: 58%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: blue; */
	}

	.bubble-textContent {
		position: absolute;
		text-align: center;
		font-size: 1rem;
	}

	.upload-modal-option-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 25%;
		/* border-top: 1px solid black; */
		/* background-color: red; */
	}

	.upload-modal-image {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-color: white;
		background-size: 300px 300px;
	}

	.create-message {
		width: 100%;
		text-align: center;
		font-size: 1.3rem;
	}

	/* bubble upload & download box */
	.upload-btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 1rem;
	}

	.bubble-upload-btn,
	.bubble-download-btn {
		width: 8rem;
		height: 3rem;
		font-family: "Noto Sans KR", sans-serif;
		font-size: 1rem;
		outline: none;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		background-color: #6d6b6b;
		color: white;
		margin: 0px 10px;
	}

	.bubble-upload-btn:hover,
	.bubble-download-btn:hover {
		transform: scale(1.03);
		-o-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		color: #fff;
		background-color: rgb(119, 112, 255);
	}

	.social-share-btn-box {
		display: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 20px;
	}
	/* icon */
	.share_icon {
		display: none;
		margin: 5px 25px;
		cursor: pointer;
	}
}
