.bubble-section {
	display: flex;
	width: 300px;
	height: 300px;
}

.bubble {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: white;
	background-size: 250px 250px;
	/* box-shadow: 0px 0px 50px rgb(255, 252, 217); */
}

.mybubble {
}

.bubble-content {
	position: absolute;
}

@media screen and (max-width: 1100px) {
	.bubble-section {
		display: flex;
		width: 190px;
		height: 250px;
	}

	.bubble {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-color: white;
		background-size: 200px 200px;
	}

	.bubble-content {
		position: absolute;
	}
}

@media screen and (max-width: 700px) {
	.bubble-section {
		display: flex;
		width: 120px;
		height: 190px;
	}

	.bubble {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-color: white;
		background-size: 120px 120px;
	}

	.bubble-content {
		position: absolute;
	}
}
